/*Variables*/
@font-face {
    font-family: 'holberton_school-icon';
    src: url('fonts/holberton_school-icon.eot?sq4eq4');
    src: url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="holberton_school-icon-"],
  [class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'holberton_school-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
 
  *:after,
  *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .holberton_school-icon-ic_hearing:before {
    content: "\e909";
  }
  
  .holberton_school-icon-ic_music:before {
    content: "\e90d";
  }
  
  .holberton_school-icon-ic_sound:before {
    content: "\e90e";
  }
  
  .holberton_school-icon-ic_video:before {
    content: "\e910";
  }
  
  /*main*/
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #555;
    background: #fff;
    text-align: center;
  }
  
  /* HEADER */
  .hero {
    background-image: url('images/headphones_hero_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1480px*920px;
   max-block-size: 800px;
  
  }
  
  .header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-item {
    gap: 401px;
    color: white;
  }
  .nav-item a {
    color: white;
    font-size: 12px;
    font-family: Source Sans Pro;
    font-weight: 700;
  }
  
  .paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
  }
  
  .h1 {
    color: white;
    font-size: 32px;
    font-family: Source Sans Pro;
    font-weight: 700;
    word-wrap: break-word
  }
  
  .p1 {
    color: white;
    font-size: 16px;
    font-family: Source Sans Pro;
    font-weight: 700;
    word-wrap: break-word
  }
  
  .button {
    border: none;
    border-radius: 25px;
    font-family: var(--font-family-base);
    letter-spacing: .5px;
    color: white;
    block-size: 48px;
    inline-size: 160px;
    text-transform: uppercase;
    width: 200px;
    height: 48px;
    background: #FF6565;
    border-radius: 22px
  }
  
  .p2 {
    color: white;
    font-size: 16px;
    font-family: Source Sans Pro;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    max-width: 1000px;
    max-height: 200px;
  }