@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Source+Sans+3:wght@300&display=swap');

*{
    font-family: "Josefin+Sans",sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    border: 1px solid red;
    flex: auto;
    overflow-y: auto;
}

.aside {
    flex: 1;
}

.header {
    padding-left: 15px;
    border: 1px solid purple;
}

.footer {
    padding-left: 15px;
    border: 1px solid green;
    font-size: smaller;
    font-style: italic;
}

.article {
    flex: 2;
}

.logo {
    font-size: 40px;
}